@charset "utf-8";
/* CSS Document */

body {
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	width:700px;
}

/*Formular*/
form { font-size:15px; display:block; }
legend { font-size:18px; }
label { cursor:pointer; }

/*Schichtplan*/
table.schichtplan {
	margin:5px;
	border:#000000 solid 2px;
	border-collapse:collapse;
	empty-cells:show;
}

table.schichtplan td {
	border:#555555 solid 1px;
	text-align:center;
	width:15px;
}

table.schichtplan td.monat {
	text-align:left;
	font-weight:bold;
	vertical-align:top;
	width:115px;
	padding-left:5px;
	border-right:#000000 solid 2px;
}

table.schichtplan td.person_name {
	text-align:left;
	padding-left:5px;
	border-right:#000000 solid 2px;
}

.wochenende {
	background-color:#dddddd;
	font-weight:bold;
}

.linieunten{
	border-bottom:#000000 solid 2px;
}